{% extends "base.html" %}

{% block content %}
    <div class="container-fluid bg-light border">
        <div class="row">
            <div class="col-6">
                <p></p>
                <p>Оборудование</p>
                <p></p>
                <div class="smart-input-group">
                    <smart-input class="form-control" placeholder="Введите название" id="flat_input"></smart-input>
                    <div class="smart-input-group-append">
                        <smart-button id="clear_button">Сброс</smart-button>
                    </div>
                </div>
                <p></p>
                <smart-list-box id="listbox_flat_search">
                </smart-list-box>
                <p></p>
                <smart-button class="primary" id="add_button">Добавить</smart-button>
                <p></p>
                <p></p>
                <p>Оснастка</p>
                <smart-table id="table">
                    <table>
                        <thead>
                        <tr>
                            <th scope="col">Название</th>
                            <th scope="col">Цена</th>
                            <th scope="col">Кол-во</th>
                            <th scope="col">Стоимость</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>Шпилька</td>
                            <td>10.6</td>
                            <td>2</td>
                            <td>21.2</td>
                        </tr>
                        </tbody>
                    </table>
            </div>
            <div class="col-6">
                <p></p>
                <p>Спецификация</p>
                <smart-grid id="flat_grid"></smart-grid>
            </div>
        </div>
    </div>


    <!-- scripts -->
    <script type="module" src={{ url_for('static', filename='/smart/source/modules/smart.grid.js') }}></script>
    <script type="module" src={{ url_for('static', filename='/smart/source/modules/smart.list.js') }}></script>
    <script type="module" src={{ url_for('static', filename='/smart/source/modules/smart.table.js') }}></script>
    <script type="module" src={{ url_for('static', filename='/smart/source/modules/smart.button.js') }}></script>
    <script type="module" src={{ url_for('static', filename='/smart/source/modules/smart.toast.js') }}></script>
    <script type="module" src={{ url_for('static', filename='flat_search_view.js') }}></script>

{% endblock content %}