<smart-menu id="menu" drop-down-append-to="body" checkboxes>
    <smart-menu-items-group>
        Проект
        <smart-menu-item shortcut="Ctrl+N" id="new_project_menu_button">Новый</smart-menu-item>
        <smart-menu-item shortcut="Ctrl+E" id="export_project">Экспорт в Excel</smart-menu-item>
        <smart-menu-items-group>
            Недавние проекты
            {% for id, item in data['project_list'] %}
                <smart-menu-item class="recent_projects" value="{{ id }}">{{ item }}</smart-menu-item>
            {% endfor %}
        </smart-menu-items-group>
        <smart-menu-item id="delete_project_menu_button"><a href="/delete_project"></a>Удалить проект</smart-menu-item>
    </smart-menu-items-group>
    <smart-menu-items-group>
        Комплект
        <smart-menu-item>Новый</smart-menu-item>
        <smart-menu-item>Список</smart-menu-item>
        <smart-menu-item><a href="/export"></a>Экспорт в Excel</smart-menu-item>
    </smart-menu-items-group>
    <smart-menu-items-group>
        Вид
        <smart-menu-item><a href="/combo"></a>Пошаговый выбор</smart-menu-item>
        <smart-menu-item><a href="/flat"></a>Плоский поиск</smart-menu-item>
        <smart-menu-item><a href="/tree"></a>Группировка</smart-menu-item>
    </smart-menu-items-group>
    <smart-menu-item id="project_name_label">{{ data["project_name"] }}</smart-menu-item>
</smart-menu>

<template id="footerTemplate">
    <smart-button id="new_project_cancel">Отмена</smart-button>
    <smart-button id="new_project_ok">Создать</smart-button>
</template>

<smart-window modal header-buttons='["close"]' id="new_project_window" closed label="Новый проект" footer-template="footerTemplate">
    <p></p>
    <p></p>
    <smart-input placeholder="Название" id="project_name"></smart-input>
    <p></p>
    <smart-input placeholder="Заказчик" id="project_customer"></smart-input>
    <p></p>
    <p></p>
</smart-window>

<script type="module" src={{ url_for('static', filename='/smart/source/modules/smart.window.js') }}></script>
<script type="module" src={{ url_for('static', filename='/smart/source/modules/smart.input.js') }}></script>
<script type="module" src={{ url_for('static', filename='/smart/source/modules/smart.button.js') }}></script>